Alexandre Barreira <abarreir@gmail.com> <abatteur@mbpab.local>
Hans Elias J. <hansihe@hansihe.com>
Kaleb Elwert <belak@coded.io> <kelwert@mtu.edu>q
Ronald Hecht <ronald.hecht@gmx.de>
Ronald Hecht <ronald.hecht@gmx.de> <rhe@sysgo.com>
Shae Erisson <shae@ScannedInAvian.com>
Stein Magnus Jodal <stein.magnus@jodal.no> <stein.magnuss@jodal.no>
Yannik Enss <github@yannikenss.de> <me@adnidor.de>
